.item {
    &--orange {
        background-color: orange;
    }
    &--yellow {
        background-color: yellow;
    }
    &--cyan {
        background-color: cyan;
    }
    &--purple {
        background-color: purple;
    }
}