.form {
    width: 300px;
    margin: 10px;
    border: 2px solid grey;
}

.form_item {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.title {
    padding: 10px;
    margin: 0;
}

label {
    width: 35%;
}

input {
    width: 60%;
}

.submitButton {
    display: block;
    width: 160px;
    margin: 10px auto;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    background-color: grey;
}
