<form class="filter">
    <div class="filter__item">
        <p class="filter__title h3">ПРОИЗВОДИТЕЛИ:</p>
        <ul class="filter__list">
            <li>
                <label for="BaxterofCalifornia" class="filter__point">
                    <input type="checkbox" class="checkbox__element" id="BaxterofCalifornia" checked />
                    <div class="checkbox">
                        <div class="checkbox__axis"></div>
                        <div class="checkbox__axis checkbox__axis--cross"></div>
                    </div>
                    <p class="filter__label">Baxter of California</p>
                </label>
            </li>
            <li>
                <label for="MrNatty" class="filter__point">
                    <input type="checkbox" class="checkbox__element" id="MrNatty" />
                    <div class="checkbox">
                        <div class="checkbox__axis"></div>
                        <div class="checkbox__axis checkbox__axis--cross"></div>
                    </div>
                    <p class="filter__label">Mr Natty</p>
                </label>
            </li>
            <li>
                <label for="Suavecito" class="filter__point">
                    <input type="checkbox" class="checkbox__element" id="Suavecito" checked />
                    <div class="checkbox">
                        <div class="checkbox__axis"></div>
                        <div class="checkbox__axis checkbox__axis--cross"></div>
                    </div>
                    <p class="filter__label">Suavecito</p>
                </label>
            </li>
            <li>
                <label for="Malin+Goetz" class="filter__point">
                    <input type="checkbox" class="checkbox__element" id="Malin+Goetz" />
                    <div class="checkbox">
                        <div class="checkbox__axis"></div>
                        <div class="checkbox__axis checkbox__axis--cross"></div>
                    </div>
                    <p class="filter__label">Malin+Goetz</p>
                </label>
            </li>
            <li>
                <label for="Murray’s" class="filter__point">
                    <input type="checkbox" class="checkbox__element" id="Murray’s" />
                    <div class="checkbox">
                        <div class="checkbox__axis"></div>
                        <div class="checkbox__axis checkbox__axis--cross"></div>
                    </div>
                    <p class="filter__label">Murray’s</p>
                </label>
            </li>
            <li>
                <label for="AmericanCrew" class="filter__point">
                    <input type="checkbox" class="checkbox__element" id="AmericanCrew" checked />
                    <div class="checkbox">
                        <div class="checkbox__axis"></div>
                        <div class="checkbox__axis checkbox__axis--cross"></div>
                    </div>
                    <p class="filter__label">American Crew</p>
                </label>
            </li>
        </ul>
    </div>
    <div class="filter__item">
        <p class="filter__title h3">ГРУППЫ ТОВАРОВ:</p>
        <ul class="filter__list">
            <li>
                <label for="shavingAccessories" class="filter__point">
                    <input type="radio" class="radio__element" name="radio" id="shavingAccessories" />
                    <div class="radio">
                        <div class="radio radio__circle"></div>
                    </div>
                    <p class="filter__label radio__label">Бритвенные принадлежности</p>
                </label>
            </li>
            <li>
                <label for="careProducts" class="filter__point">
                    <input type="radio" class="radio__element" name="radio" id="careProducts" checked />
                    <div class="radio">
                        <div class="radio radio__circle"></div>
                    </div>
                    <p class="filter__label radio__label">Средства для ухода</p>
                </label>
            </li>
            <li>
                <label for="accessories" class="filter__point">
                    <input type="radio" class="radio__element" name="radio" id="accessories" />
                    <div class="radio">
                        <div class="radio radio__circle"></div>
                    </div>
                    <p class="filter__label radio__label">Аксессуары</p>
                </label>
            </li>
        </ul>
    </div>
    <input type="submit" value="Показать" class="button filter__button" />
</form>
