<header class="header">
    <nav class="header__nav">
        <a href="/html/index.html" class="header__logo menu__link">
            <img src="../images/logo-menu.png" alt="Barbershop" class="logo-menu__image" />
        </a>
        <ul class="header__menu menu menu__mobile--close">
            <li class="menu__item">
                <a href="/html/index.html" class="menu__link">информация</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">новости</a>
            </li>
            <li class="menu__item">
                <a href="/html/price.html" class="menu__link">прайс-лист</a>
            </li>
            <li class="menu__item">
                <a href="/html/shop.html" class="menu__link">магазин</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">контакты</a>
            </li>
        </ul>
        <div class="header__entry entry">
            <div class="entry__icon"></div>
            <div class="entry__title">вход</div>
        </div>
    </nav>
    <div class="burger-menu">
        <div class="burger-menu__icon"></div>
        <div class="burger-menu__icon"></div>
        <div class="burger-menu__icon"></div>
    </div>
    //= entry-form.html
</header>