<section class="products">
    <div class="products__container">
        <div class="products__item">
            <a href="/html/item.html">
                <img src="../images/product1.png" alt="product" class="products__image" />
            </a>
            <p class="products__title">Набор для путешествий <br>«BAXTER OF CALIFORNIA»</p>
            <div class="products__price price__wrapper">
                <div class="price__value">2 900 РУБ.</div>
                <button class="button button--short price__button">КУПИТЬ</button>
            </div>
        </div>
        <div class="products__item">
            <a href="/html/item.html">
                <img src="../images/product2.png" alt="product" class="products__image" />
            </a>
            <p class="products__title">Увлажняющий кондиционер
                <br>«BAXTER OF CALIFORNIA»</p>
            <div class="products__price price__wrapper">
                <div class="price__value">750 РУБ.</div>
                <button class="button button--short price__button">КУПИТЬ</button>
            </div>
        </div>
        <div class="products__item">
            <a href="/html/item.html">
                <img src="../images/product3.png" alt="product" class="products__image" />
            </a>
            <p class="products__title">Гель для волос
                <br>«SUAVECITO»</p>
            <div class="products__price price__wrapper">
                <div class="price__value">290 РУБ.</div>
                <button class="button button--short price__button">КУПИТЬ</button>
            </div>
        </div>
        <div class="products__item">
            <a href="/html/item.html">
                <img src="../images/product4.png" alt="product" class="products__image" />
            </a>
            <p class="products__title">Глина для укладки волос
                <br>«AMERICAN CREW»</p>
            <div class="products__price price__wrapper">
                <div class="price__value">500 РУБ.</div>
                <button class="button button--short price__button">КУПИТЬ</button>
            </div>
        </div>
        <div class="products__item">
            <a href="/html/item.html">
                <img src="../images/product5.png" alt="product" class="products__image" />
            </a>
            <p class="products__title">Гель для волос
                <br>«AMERICAN CREW»</p>
            <div class="products__price price__wrapper">
                <div class="price__value">300 РУБ.</div>
                <button class="button button--short price__button">КУПИТЬ</button>
            </div>
        </div>
        <div class="products__item">
            <a href="/html/item.html">
                <img src="../images/product6.png" alt="product" class="products__image" />
            </a>
            <p class="products__title">Набор для бритья
                <br />«BAXTER OF CALIFORNIA»
            </p>
            <div class="products__price price__wrapper">
                <div class="price__value">3 900 РУБ.</div>
                <button class="button button--short price__button">КУПИТЬ</button>
            </div>
        </div>
        </div>
    <div class="products__pagination pagination">
        <div class="pagination__item">
            <a href="#" class="pagination__link">1</a>
        </div>
        <div class="pagination__item pagination__item--active">
            <a href="#" class="pagination__link">2</a>
        </div>
        <div class="pagination__item">
            <a href="#" class="pagination__link">3</a>
        </div>
        <div class="pagination__item">
            <a href="#" class="pagination__link">4</a>
        </div>

    </div>
</section>