<section class="section background--white">
    <section class="section__item">
        <header class="section__header">новости</header>
        <div class="section__text">
            <p>НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО ВРЕМЯ СТРИЖКИ</p>
            <time class="section__time" datetime="2018-01-11">11 января</time>
        </div>
        <div class="section__text">
            <p>В НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС «БРИТВА» СТРИГУНЕЦ, ОБЛАДЕТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И НАГРАД ПОПОЛНИЛ НАШИ СТРОЙНЫЕ РЯДЫ</p>
            <time class="section__time" datetime="2018-01-18">18 января</time>
        </div>
        <button class="button button--low">все новости</button>
    </section>

    <img src="../images/separator.png" alt="" class="section__separator" />
    
    <section class="section__item section__item--right gallery">
        <header class="section__header">фотогалерея</header>
        <img src="../images/gallery.png" alt="barbery shop" class="gallery__image" />
        <div class="button__row">
            <button class="button">назад</button>
            <button class="button">вперед</button>
        </div>
    </section>
</section>

<section class="section background--white">
    <section class="section__item contacts">
        <header class="section__header">КОНТАКТНАЯ ИНФОРМАЦИЯ</header>
        <p class="contacts__title">БАРБЕРШОП «БОРОДИНСКИЙ»</p>
        <div class="section__column">
            <p class="section__text">
                <adress class="contacts__adress">АДРЕС: Г.&nbsp;САНКТ-ПЕТЕРБУРГ, УЛ.&nbsp;Б.&nbsp;КОНЮШЕННАЯ, Д.&nbsp;19/8</adress>
                <a href="tel:+7(495)666-02-66" class="contacts__tel">ТЕЛЕФОН: +7 (495) 666-02-66</a>
            </p>
            <p class="section__text section__text--right">
                ВРЕМЯ РАБОТЫ:
                <br /> ПН — ПТ: С
                <time>10:00</time> ДО
                <time>22:00</time>
                <br /> СБ — ВС: С
                <time>10:00</time> ДО
                <time>19:00</time>
            </p>
        </div>
        <div class="button__row button__row--narrow button--low">
            <button class="button button__map">как проехать</button>
            <button class="button">обратная связь</button>
        </div>
    </section>

    <img src="../images/separator.png" alt="" class="section__separator" />

    <section class="section__item section__item--right record">
        <header class="section__header">ЗАПИСАТЬСЯ</header>
        <p class="section__text">УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И ВРЕМЯ И МЫ СВЯЖЕМСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ БРОНИ</p>
        <form method="get" class="form form-record">
            <input type="text" name="date" value="ДАТА" class="form__input form-record__input" />
            <input type="text" name="time" value="ВРЕМЯ" class="form__input form-record__input" />
            <input type="text" name="name" value="ВАШЕ ИМЯ" class="form__input form-record__input" />
            <input type="text" name="tel" value="ТЕЛЕФОН" class="form__input form-record__input" />
            <input type="submit" value="Отправить" class="button button--long form-record__input" />
        </form>
    </section>
</section>