.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 150px;
    
    &__text {
        width: 15%;
    }
    &__logo {
        width: 68%;
    }
}

.text {
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    margin-bottom: 10px;

    &--left {
        font-style: italic;
        text-align: center;
        border: 2px solid black;
        padding: 5px 20px;
    }
    &--right {
        text-align: left;
    }
    &__title {
        text-transform: uppercase;
        text-align: center;
    }
}